@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">update with date : 18/07 this update concern in the first place the gitflow 222222222222222222222</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
