@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<<<<<<< HEAD
=======

>>>>>>> release/4.0.0
    <h1 class="display-4">the CI CD test </h1>

    <h1 class="display-4">updated in  date : 22/07 12:00

    </h1>
    <h1 class="display-4">update testing the Build.SourceBranchName</h1>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
